/*
=================================================
=========            GENERAL            =========
=================================================
*/

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

/*
=================================================
=========            NAVBAR             =========
=================================================
*/

.nav-container a {
  color: #05386B;
  font-family: 'Oswald', sans-serif;
  font-size: 1.1em;
  text-decoration: none;
}

/*
=================================================
=========            HEADER             =========
=================================================
*/

header {
  background-color: #4EBA7E;
  min-height: 400px;
  max-height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.header-content > h1 {
  color: #FFF;
  font-weight: 700;
}

.header-content > h2 {
  color: #FFF;
  font-weight: 700;
}

header p {
  color: #FFF;
}

.over-circle {
  position: relative;
  z-index: 3;
}

.over-circle-2 {
  padding: 5% 10% 10% 5%;
  position: relative;
  z-index: 3;
}

/*
=================================================
=========            BORDERS            =========
=================================================
*/

.border-left-blue {
  border-left: 4px solid #05386B;
}

/*
=================================================
=========            SECTIONS           =========
=================================================
*/

.skills-technology-section {
  background-color: rgba(0, 0, 0, 0.04);
}

.projects {
  background-color: #0FA3B1;
}

.projects h2 {
  color: #FFF;
}
/*
=================================================
=========            VECTORS            =========
=================================================
*/

@media screen and ( max-width: 760px ) {
  .circle {
    max-height: 590px;
    max-width: 590px;
  }
}

.circle {
  position: absolute;
  right: -200px;
  bottom: -250px;
  width: 800px;
  height: 800px;
  background: #FFF;
  -moz-border-radius: 400px;
  -webkit-border-radius: 400px;
  border-radius: 400px;
  z-index: 2;
}

/*
=================================================
=========           IMG & SVG           =========
=================================================
*/

.svg-fit-hero {
  max-width: 70%;
  width: auto;
  height: auto;
  max-height: 80%;
}

.svg-fit-large {
  max-width: 30%;
  width: auto;
  height: auto;
  max-height: 80px;
  color: #5CDB95;
}

.svg-fit-standard {
  max-width: 20%;
  width: auto;
  height: auto;
  max-height: 20%;
  color: #5CDB95;
}

.svg-fit-small {
  max-width: 15%;
  width: auto;
  height: auto;
  max-height: 15%;
  color: #5CDB95;
}

.svg-link {
  max-width: 6%;
  width: auto;
  height: auto;
  max-height: 6%;
  color: #5CDB95;
}


/*
=================================================
=========             TEXT              =========
=================================================
*/

.grey-text {
  color: #707070;
}

.blue-text {
  color: #05386B !important;
}
/*
=================================================
=========             CARDS             =========
=================================================
*/

.role-card {
  background-color: #FFF;
  border: 5px solid #4EBA7E;
  border-radius: 22px;
  box-shadow: 0px 14px 28px 0px rgba(0,0,0,0.16);
}

.skills-tech-card {
  background-color: #FFF;
  border: 5px solid #4EBA7E;
  border-radius: 22px;
  box-shadow: 0px 14px 28px 0px rgba(0,0,0,0.16);
  overflow: hidden;
}

.skills-tech-card li {
  font-weight: bold;
  margin-bottom: 5%;
}

.skills-tech-card h3 {
  color: #FFF;
}

.skills-tech-card-header {
  border-radius: 5px 5px 0px 0px;
  background-color: #4EBA7E;
  margin: 0px !important;
  top: 0;
  width: 100%;
}

.skills-tech-card-content {
  padding: 10%;
}
