/*
=================================================
=========            GENERAL            =========
=================================================
*/

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.padding-overlap-parent-top {
  padding: 5% 5% 13% 5%;
}

.padding-overlap-parent-bottom {
  padding: 13% 5% 5% 5%;
}

.padding-overlap-parent-both {
  padding: 10% 5% 13% 5%;
}

@media screen and ( min-width: 860px ) {
  .desktop-hide {
    display: none;
  }
}

.width-100 {
  width: 100%;
}
/*
=================================================
=========            NAVBAR             =========
=================================================
*/

.nav-container a {
  color: #05386B;
  font-family: 'Oswald', sans-serif;
  font-size: 1.1em;
  text-decoration: none;
}

/*
=================================================
=========            HEADER             =========
=================================================
*/

/* Header for index */

header {
  background-color: #5CDB95;
  min-height: 400px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.header-content > h1 {
  color: #FFF;
  font-weight: 700;
}

.header-content > h2 {
  color: #FFF;
  font-weight: 700;
}

header p {
  color: #FFF;
}

.over-circle {
  position: relative;
  z-index: 3;
}

.over-circle-2 {
  padding: 5% 10% 10% 5%;
  position: relative;
  z-index: 3;
}

/* Header 2 on faprotect.html */

.header-2 {
  background-color: #0FA3B1;
  color: #FFF;
}

.header-2 a {
  color: #FFF;
}

.header-2 a:hover {
  color: #05386B;
}

.header-2 button:hover {
  color: #0FA3B1;
}
/*
=================================================
=========            BORDERS            =========
=================================================
*/

.border-left-blue {
  border-left: 6px solid #05386B;
}

.border-left-white {
  border-left: 6px solid #FFF;
}

/*
=================================================
=========            SECTIONS           =========
=================================================
*/

/* Skills */

.skills-technology-section {
  background-color: rgba(0, 0, 0, 0.04);
}

/* Projects */

.projects {
  background-color: #0FA3B1;
}

.projects button:hover {
  color: #0FA3B1;
}


.projects-2 {
  background-color: #514A9D;
  position: relative;
}

.projects h2 {
  color: #FFF;
  margin: 5% 0% 0% 5%;
}

.projects-2 h3 {
  color: #FFF !important;
}

/* Resume */

.resume {
  background-color: #293347;
  border-radius: 22px;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2), 0 0 0 1px #293347;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 60%;
  bottom: -125px;
  position: absolute;
  z-index: 5;
}

.resume h3 {
  font-weight: normal;
}

/* About me */

.about-me {
  background-color: #5CDB95;
  position: relative;
}

/* Footer */

.footer {
  background-color: #514A9D;
  padding: 10% 8% 6% 8%;
}

footer a {
  text-decoration: none;
  color: #5CDB95;
}
/*
=================================================
=========            VECTORS            =========
=================================================
*/

.circle {
  position: absolute;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 55%;
  height: auto;
  padding-top: 55%;
  background: white;
  z-index: 2;
  right: -200px;
  bottom: -300px;
}

/* media queries to size the circle on Mobile
and tablet viewports */

@media screen and ( max-width: 1121px ) {
  .circle {
    width: 65%;
    padding-top: 65%;
  }
}

@media screen and ( max-width: 921px ) {
  .circle {
    width: 70%;
    padding-top: 70%;
  }
}

/*
=================================================
=========           IMG & SVG           =========
=================================================
*/

.svg-fit-hero {
  max-width: 70%;
  width: auto;
  height: auto;
  max-height: 80%;
}

.svg-fit-large {
  max-width: 30%;
  width: auto;
  height: auto;
  max-height: 80px;
  color: #5CDB95;
}

.svg-fit-25 {
  max-width: 25%;
  width: auto;
  height: auto;
  max-height: 80px;
}

.svg-fit-60 {
  max-width: 60%;
  width: auto;
  height: auto;
  max-height: 80px;
}


.svg-fit-standard {
  max-width: 20%;
  width: auto;
  height: auto;
  max-height: 20%;
  color: #5CDB95;
}

.svg-fit-small {
  max-width: 15%;
  width: auto;
  height: auto;
  max-height: 15%;
  color: #5CDB95;
}

.svg-link {
  max-width: 6%;
  width: auto;
  height: auto;
  max-height: 6%;
  color: #5CDB95;
}

.profile-rounded {
  max-width: 20%;
  width: auto;
  height: auto;
  border: 4px solid #05386B;
  border-radius: 22px;
}

/*
=================================================
=========             TEXT              =========
=================================================
*/

.grey-text {
  color: #707070;
}

.blue-text {
  color: #05386B !important;
}

.white-text {
  color: #FFF;
}

.block-tag {
  background-color: #333333;
  border-radius: 8px;
  color: #FFF;
  margin-right: 0.5%;
  min-width: 100px;
  padding: 0.5%;
  text-align: center;
}

.block-tag-text {
  font-weight: normal;
}

.number {
  font-size: 1.6em;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.1em;
  color: #5CDB95;
}

.case-study-info-header {
  font-size: calc(10px + (16 - 10) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 400;
  color: #05386B;
  letter-spacing: 2px;
}

.case-study-section-header {
  font-size: calc(13px + (22 - 13) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 400;
  color: #05386B;
  letter-spacing: 2px;
}

.case-study-section-header:after {
  content: ""; /* This is necessary for the pseudo element to work. */
  display: block; /* This will put the pseudo element on its own line. */
  width: 20%; /* Change this to whatever width you want. */
  padding-top: 20px; /* This creates some space between the element and the border. */
  border-bottom: 1px solid #0FA3B1; /* This creates the border. Replace black with whatever color you want. */
}
.case-study-tag {
  font-family: 'Oswald', sans-serif;
  font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
  margin: 0.3em 0 0.3em 0;
}
/*
=================================================
=========             CARDS             =========
=================================================
*/

.role-card {
  background-color: #FFF;
  border: 5px solid #5CDB95;
  border-radius: 22px;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.16);
}

.skills-tech-card {
  background-color: #FFF;
  border: 5px solid #5CDB95;
  border-radius: 22px;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.16);  overflow: hidden;
}

.skills-tech-card li {
  margin-bottom: 5%;
}

.skills-tech-card h3 {
  color: #FFF;
}

.skills-tech-card-header {
  border-radius: 5px 5px 0px 0px;
  background-color: #5CDB95;
  margin: 0px !important;
  top: 0;
  width: 100%;
}

.skills-tech-card-content {
  padding: 10%;
}

/*
=================================================
=========        FAPROTECT.HTML         =========
=================================================
*/

/* Navigation bar */

.nav-container-2 {

}
/*
=================================================
=========             MOBILE            =========
=================================================
*/

/* Media queries to make the layout work on mobile */

@media screen and ( max-width: 860px ) {
  .mobile-hide {
    display: none;
  }

  .padding-overlap-parent-top {
    padding: 5% 5% 40% 5%;
  }

  .padding-overlap-parent-bottom {
    padding: 35% 5% 5% 5%;
  }

  .padding-overlap-parent-both {
    padding: 35% 5% 50% 5%;
  }

  .resume {
    width: 90%;
    text-align: center;
  }

  .grid-flex-end, .grid-flex-start {
    justify-content: center;
  }
}


/*
=================================================
=========             HEADER            =========
=================================================
*/

/* Changing order of elements in flexbox container */

@media screen and ( max-width: 860px ) {
.order-1-mobile {
  order: 1;
}

.order-2-mobile {
  order: 2;
}

.order-3-mobile {
  order: 3;
}

.order-4-mobile {
  order: 4;
}

.order-5-mobile {
  order: 5;
}

.order-6-mobile {
  order: 6;
}

.order-7-mobile {
  order: 7;
}

.order-8-mobile {
  order: 8;
}

/* Change text align for hero SVG */

.over-circle-2 {
  text-align: center;
}

/* Make margin smaller on h1 */

header h1 {
  margin-top: 2% !important;
}

/* Mobile navigation menu */

.hamburger-button {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 1em;
  display: block;
  outline: none;
}

.svg-fit-mobile-icon {
  max-width: 100%;
  max-height: 1em;
  width: auto;
  height: auto;
  margin: 0;
}

.nav-container {
    padding: 5%;
  }

.mobile-nav-background-container {
  top: 0;
  left: 0;
  z-index: 7;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}

.mobile-nav-overlay {
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100vh;
  width: 80vw;
  top: 0;
  right: 0;
  z-index: 8;
}

.mobile-nav-overlay hr {
  color: #eee;
  border: none;
  height: 1px;
  background-color: #fff;
}

.mobile-nav-overlay ul {
  padding-left: 0px;
}

.mobile-nav-overlay ul > li{
  margin-bottom: 15px;
  line-height: 1.4em;
}

.mobile-nav-container {
  padding: 20%;
}

.mobile-nav-container h3 {
  color: white;
  margin: 0;
}

.mobile-menu-close {
  right: 0;
  top: 0;
  position: absolute;
  margin: 10% 10% 0% 0%;
}
}


/*
=================================================
=========             IMAGES            =========
=================================================
*/

@media screen and ( max-width: 460px ) {
.svg-fit-25 {
  max-width: 50%;
}
}

@media (min-width: 461px) and ( max-width: 660px ) {
.svg-fit-25 {
  max-width: 35%;
}
}

@media screen and ( max-width: 860px ) {
.device {
  max-width: 100%;
  margin-top: 5%;
}

.profile-rounded {
  max-width: 30%;
}
}

/*
=================================================
=========          SMALL DESKTOP        =========
=================================================
*/

/* Media queries to make the layout work on TABLET
viewports (860px) */

@media screen and ( max-width: 650px ) {
/* Images */

.svg-fit-hero {
  max-width: 55%;
}
}

@media (min-width: 651px) and ( max-width: 860px ) {
.svg-fit-hero {
  width: 45%;
}
}
