/*
=================================================
=========            NAVBAR             =========
=================================================
*/

.nav-container a {
  color: #05386B;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
}

/*
=================================================
=========            HEADER             =========
=================================================
*/

header {
  background-color: #5CDB95;
  min-height: 400px;
}

header h1,h2 {
  color: #FFF;
  font-weight: 700;
}

header p {
  color: #FFF;
}

/*
=================================================
=========            BORDERS            =========
=================================================
*/

.border-left-blue {
  border-left: 4px solid #05386B;
}
